[submodule "themes/maupassant-hugo"]
	path = themes/maupassant-hugo
	url = https://github.com/rujews/maupassant-hugo.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/rujews/maupassant-hugo.git
